@{
 ViewData["Title"] = "Поиск по названию";
}

  <div class="search-container">
 <h1 class="centered-title">Поиск по названию</h1>
 <div class="search">
   <input type="text" class="search-input" placeholder="Введите текст для поиска...">
   <button class="search-button" onclick="performSearch()">Поиск</button>
 </div>
  </div>
